* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    height: 10vh;
    width: 100vw;
    padding: 2vh;
    border-bottom: 1px solid #ccc; 
}

#new-book {
    margin: 2vh;
}

.container {
    width: 15vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
    padding: 2vh;
    margin: 2vh;
    border-radius: 4px;
    background-color: rgba(169, 169, 169, 0.367);
}

body {
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.radioButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.display-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.book {
    display: flex;
    background-color: rgba(181, 162, 113, 0.367);
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 35vh;
    width: 15vw;
    border: 1px solid black;
    padding: 2vh;
    margin: 2vh;
    border-radius: 4px;
}

